<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http:/smartleap-001-subsite3.smartasp.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://host.beyond-government.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>smartleap-001-subsite3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>ifc\smartleap-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BeyondGovernmentEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5032.smarterasp.net;Initial Catalog=DB_A102FB_beyondgovt;Persist Security Info=True;User ID=DB_A102FB_beyondgovt_admin;Password=abhru2016;Application Name=EntityFramework" Name="Data Source=sql5032.smarterasp.net;Initial Catalog=DB_A102FB_beyondgovt;Persist Security Info=True;User ID=DB_A102FB_beyondgovt_admin;Password=abhru2016;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BeyondGovernment.Data.BeyondGovernmentEntities, BeyondGovernment.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BeyondGovernmentEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/BeyondGovernmentModel.csdl|res://*/BeyondGovernmentModel.ssdl|res://*/BeyondGovernmentModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5032.smarterasp.net;Initial Catalog=DB_A102FB_beyondgovt;Persist Security Info=True;User ID=DB_A102FB_beyondgovt_admin;Password=abhru2016;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>